.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    background-color: var(--primary-color);
    color: var(--font-color);
}

.header-title-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 0.5em;
}

.header-title-container > * {
    margin: auto;
}

.profile-image {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-right: 0.5em;
    outline: var(--prpl-accent-color) solid 2px;
}

.tag {
    font-size: 0.8em;
    padding: 0.2em 0.5em;
    background-color: var(--secondary-color);
    border-radius: 0.25em;
    border: var(--dark-accent-color) 1px solid;
}

.tag-container {
    display: flex;
    flex-direction: row;
    column-gap: 0.5em;
}

.channel-info-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.1em;
}

.input-container {
    display: flex;
    flex-direction: row;
    column-gap: 10.5rem;
    margin: 1rem;
}

.stream-page-content {
    display: flex;
    flex-direction: row;
    column-gap: 0.15em;
    position: relative;
    background-color: var(--secondary-color);
    height: 100%;
}

.video {
    aspect-ratio: 16/9;
    display: flex;
    flex-direction: column;
    width: 75%;
    border: 1px solid black;
}

.chat-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    border: 1px solid black;
    max-height: 80vh;
    overflow: hidden;
    max-width: 25vw;
}

.chat {
    text-align: left;
    line-height: 1.1;
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    overflow-y: auto;
}

.chat-wrapper {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
}

.chat-input-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 0.5em;
    padding: 0.5em;
    background-color: var(--primary-color);
}

.chat-send-button {
    background-color: var(--prpl-accent-color);
    border: none;
    border-radius: 0.25em;
    width: 5em;
    color: var(--font-color);
    padding: 0.5em;
    font-weight: bold;
    align-self: flex-end;
    margin-right: 0.5em;
}
