@page "/"

@inject NavigationManager NavigationManager

<div class="initial-search-page">
    <h1>Simple Twitch</h1>
    <div class="initial-input-container">
        <input placeholder="Search for a channel.." class="user-input" @bind="m_input" @bind:event="oninput" @onkeyup="HandleEnterPressed"/>
    </div>
</div>


@code {

    private string m_input = "";
    
    private void HandleEnterPressed(KeyboardEventArgs e) {
        if(e.Code == "Enter" || e.Key == "Enter") {
            NavigationManager.NavigateTo( $"/stream/{m_input}" );
        }
    }
}