.user-input {
    width: 100%;
}

.initial-search-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    row-gap: 2em;
    margin-top: -1em;
}

.initial-input-container {
    width: 50%;
}

.loader {
    border: 6px solid var(--secondary-color); /* Light grey */
    border-top: 6px solid var(--prpl-accent-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.shimmer {
    height: 20px; /* Adjust to fit your text size */
    background: var(--primary-color);
    background-image: linear-gradient(
        to right, 
        var(--primary-color) 0%,
        var(--secondary-color) 20%, 
        var(--primary-color) 40%, 
        var(--primary-color) 100%);
    background-repeat: no-repeat;
    background-size: 800px 104px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 30%; /* Adjust the width as needed */
}

.shimmer::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150px;
    width: 150px;
    height: 100%;
    background: linear-gradient(to right, rgba( var(--primary-color), 0) 0%, rgba( var(--primary-color), 0.8) 50%, rgba( var(--primary-color), 0) 100%);
    animation: shimmer-animation 1.5s infinite linear;
}

@keyframes shimmer-animation {
    0% {
        left: -150px;
    }
    100% {
        left: 100%;
    }
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    background-color: var(--primary-color);
    color: var(--font-color);
}

.header-title-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 0.5em;
}

.header-title-container > * {
    margin: auto;
}

.profile-image {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-right: 0.5em;
    outline: var(--prpl-accent-color) solid 2px;
}

.tag {
    font-size: 0.8em;
    padding: 0.2em 0.5em;
    background-color: var(--secondary-color);
    border-radius: 0.25em;
    border: var(--dark-accent-color) 1px solid;
}

.tag-container {
    display: flex;
    flex-direction: row;
    column-gap: 0.5em;
}

.channel-info-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.1em;
}

.input-container {
    display: flex;
    flex-direction: row;
    column-gap: 10.5rem;
    margin: 1rem;
}

.stream-page-content {
    display: flex;
    flex-direction: row;
    column-gap: 0.15em;
    position: relative;
    background-color: var(--secondary-color);
    height: 100%;
}

.video {
    aspect-ratio: 16/9;
    display: flex;
    flex-direction: column;
    width: 75%;
    border: 1px solid black;
}

.chat-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 25%;
    border: 1px solid black;
    height: 80vh;
    overflow: hidden;
    max-width: 25vw;
}

.chat {
    text-align: left;
    line-height: 1.1;
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    overflow-y: auto;
}

.chat-wrapper {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
}

.chat-input-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 0.5em;
    padding: 0.5em;
    background-color: var(--primary-color);
}

.chat-send-button {
    background-color: var(--prpl-accent-color);
    border: none;
    border-radius: 0.25em;
    width: 5em;
    color: var(--font-color);
    padding: 0.5em;
    font-weight: bold;
    align-self: flex-end;
    margin-right: 0.5em;
}
