@inject ITwitchService TwitchService
@inject ResourceService ResourceService
@inject NavigationManager NavigationManager

@using System.Reflection
@using System.Text.Json
@using System.Windows.Forms
@using SimpleTwitch.Data
@using SimpleTwitch.Services
@using TwitchEverywhere.Core.Types.RestApi.Users
@using TwitchEverywhere.Core.Types.RestApi.Wrappers
@using System.Net
@using TwitchEverywhere.Core.Types.RestApi.Streams

@if( m_loading ) {
    <div class="sidebar">
        <nav class="nav-items">
            <div class="nav-item small-button">
                <button class="nav-icon-button">
                    <img class="nav-icon" alt="" src="https://static-cdn.jtvnw.net/jtv_user_pictures/xarth/404_user_150x150.png"/>
                </button>
            </div>
        </nav>
    </div>
} else {
    <div class="sidebar">
        <nav class="nav-items">

            @foreach (UserEntry user in m_users) {
                <div class="nav-item small-button">
                    <button class="nav-icon-button" @onclick="() => OnClick( user.Login )">
                        @{
                            bool isGrayscale = !m_liveStreams.Contains( user.Login );
                        }
                        <img class="nav-icon @(isGrayscale ? "grayscale" : "")" alt="@user.DisplayName" src="@user.ProfileImageUrl"/>
                    </button>
                </div>
            }
        </nav>
    </div>
}

@code {
    List<UserEntry> m_users = [];
    private bool m_loading = true;
    private HashSet<string> m_liveStreams = [];

    protected override async Task OnInitializedAsync() {
        List<string> usernames = await ResourceService.GetFavs();
        
        foreach (string username in usernames) {
            GetUsersResponse response = await TwitchService.GetUsers( username.ToLower() );
            
            if( response.StatusCode != HttpStatusCode.OK ) {
                continue;
            }
            
            m_users.Add(response.ApiResponse.Data[0]);
        }
        
        GetStreamsResponse liveStreamsResponse = await TwitchService.GetLiveStreams( usernames.ToArray() );
        
        if( liveStreamsResponse.StatusCode == HttpStatusCode.OK ) {
            m_liveStreams = [..liveStreamsResponse.ApiResponse.Data.Select( stream => stream.UserLogin )];
        }
        
        m_loading = false;
    }
    
    private void OnClick( string loginName ) {
        NavigationManager.NavigateTo( $"/stream/{loginName}" );
    }

}
