.user-info-dialog {
    position: absolute;
    top: 0px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    width: 99%; /* Adjust based on content */
    height: 250px; /* Adjust based on content */
    background-color: var(--primary-color);
    padding: 1em;
    border-bottom: 5px solid var(--prpl-accent-color);
}

.user-info-dialog-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
    margin-right: 1em;
}

.user-info-dialog-close-button {
    color: var(--font-color);
    font-weight: 700;
    font-size: 1em;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 0.2em;
    padding: 0.5em 1em;
}

.user-info-dialog-close-button:hover {
    outline: var(--prpl-accent-color) solid 2px;
}


.badge-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    margin-top: 1em;
    padding: 1.5em 0.1em;
    border-top: 3px solid var(--dark-accent-color);
    color: var(--font-color);
}

.badge-container-title {
    font-size: 1em;
    font-weight: 700;
    color: var(--font-color);
}

.badge-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 0.5em;
    row-gap: 0.5em;
}

.twitch-badge {
    border: 1px solid var(--dark-accent-color);
    padding: 0.25em;
    height: 35px;
}

.profile-image {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-right: 0.5em;
    outline: var(--prpl-accent-color) solid 2px;
}

.profile-display-name {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--font-color);
}

.profile-creation-date {
    color: var(--font-color);
}

.user-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5em;
}

.user-info {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
}